#scene-panel {
    position: absolute;
    top: 58px;
    left: 0px;
    width: 320px;
    z-index: 100;
}

.collapsed #scene-panel {
    display: none;
}

.splat-list-container {
    max-height: 300px;
    overflow: auto;
}